<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>hr</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name></display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.hr.servlet.TestServlet</servlet-class>
    <init-param>
      <param-name>ecoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>demo</servlet-name>
    <servlet-class>com.hr.servlet.Servlet1</servlet-class>
    <init-param>
      <param-name>ecoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>servletfrom</servlet-name>
    <servlet-class>com.hr.servlet.TestServletFrom</servlet-class>
    <init-param>
      <param-name>ecoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletfrom</servlet-name>
    <url-pattern>/servletfrom</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>servletto</servlet-name>
    <servlet-class>com.hr.servlet.TestServletTo</servlet-class>
    <init-param>
      <param-name>ecoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletto</servlet-name>
    <url-pattern>/servletto</url-pattern>
  </servlet-mapping>
  
</web-app>