@charset "UTF-8";

.container {
	padding:3em 0;
}

.user-login{
	width: 30%;
	margin:0 auto;
}
.user-login{
	background: #fff;
	border-radius: 0.8em;
	-o-border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
}
.user-login h1 {
    font-size: 1.2em;
    color: #fff;
    background: #00acec;
    padding: 1.4em 0em;
    text-align: center;
    border-top-right-radius: 0.6em;
    -o-border-top-right-radius: 0.6em;
    -moz-border-top-right-radius: 0.6em;
    -webkit-border-top-right-radius: 0.6em;
    border-top-left-radius: 0.6em;
    -o-border-top-left-radius: 0.6em;
    -moz-border-top-left-radius: 0.6em;
    -webkit-border-top-left-radius: 0.6em;
   
}
.user-login p {
	color: #868686;
	font-size: 19px;
	padding-bottom: 15px;
}
form.login {
    padding: 2% 2.9em;
}
form.login li{
	list-style: none;
	width: 99%;
	margin: 0 auto;
	border: 1px solid #D6D0D0;
}
form.login li.base{
	margin-bottom: 10px;
}
.user-login input[type="text"],.user-login input[type="password"] {
	width: 82%;
	padding: 0.7em 0.7em;
	color: #8f9091;
	font-size: 15px;
	outline: none;
	background: #fff;
	border: none;
	-webkit-appearance: none;
	font-weight: 400;
}
.submit-login{
	margin-top: 2.3em;
}
.user-login input[type="submit"]{
	font-size:18px;
	font-weight:400;
	color: #fff;
	display: inline-block;
	padding: 0.9em 0.9em;
	width: 100%;
	cursor: pointer;
	-webkit-appearance: none;
	border: none;
	outline: none;
	background: #fdae1f;
	border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;

}
.user-login input[type="submit"]:hover{
background:#00acec;
color: #fff;
}